<form [formGroup]="controlForms" (submit)="saveDocument()">
  <label>
    Номер: <input type="text" formControlName="number">
  </label>
  <div class="validation-error" >
    <p invalidMessage="number" errorType="required">Please enter the number</p>
  </div>
  <br>
  <label>
    Сумма:<input type="text" formControlName="cost" appCostMask>
  </label>
  <br>
  <label>
    Дата создания: <input formControlName="createDate"  [owlDateTime]="dt" [owlDateTimeTrigger]="dt">
    <owl-date-time #dt></owl-date-time>
  </label>
  <div class="validation-error" >
    <p invalidMessage="createDate" errorType="required">Please enter the date</p>
  </div>
  <br>
  <label>
    УНП: <input type="text" formControlName="unp">
  </label>
  <div class="validation-error" >
    <p invalidMessage="unp" errorType="maxlength">Length exceeded</p>
    <p invalidMessage="unp" errorType="required">Please enter UNP</p>
  </div>
  <br>
  <label>
    Страна: <select formControlName="country">
    <option *ngFor="let country of countryList; let i = index" [value]="country.code">
      {{ country.code }} - {{ country.name }}
    </option>
  </select>
  </label>
  <br>
  <button type="submit">Сохранить</button>
</form>

