<form [formGroup]="controlForms" (submit)="saveDocument()" [appValidators]="validatorsMessages">
  <label>
    Номер: <input type="text" formControlName="number">
  </label>
  <div appErrorMessage="number"></div>
  <br>
  <label>
    Сумма:<input type="text" formControlName="cost" appCostMask>
  </label>
  <div appErrorMessage="cost"></div>
  <br>
  <label>
    Дата создания: <input formControlName="createDate"  [owlDateTime]="dt" [owlDateTimeTrigger]="dt">
    <owl-date-time #dt></owl-date-time>
  </label>
  <div appErrorMessage="createDate"></div>
  <br>
  <label>
    УНП: <input type="text" formControlName="unp">
  </label>
  <div appErrorMessage="unp"></div>
  <br>
  <label>
    Страна: <select formControlName="country">
    <option *ngFor="let country of countryList; let i = index" [value]="country.code">
      {{ country.code }} - {{ country.name }}
    </option>
  </select>
  </label>
  <div appErrorMessage="country"></div>
  <br>
  <button type="submit">Сохранить</button>
</form>

