<form [formGroup]="controlForms" (submit)="saveDocument()">
  <label>
    Номер: <input type="text" formControlName="number">
  </label>
  <br>
  <label>
    Сумма: <input type="text" formControlName="sum" minlength="1" maxlength="13" pattern="\d*">
  </label>
  <br>
  <label>
    Дата создания: <input type="date" formControlName="createDate">
  </label>
  <br>
  <label>
    УНП: <input type="text" formControlName="unp">
  </label>
  <br>
  <label>
    Страна: <select formControlName="country">
    <option *ngFor="let country of countryList" [value]="country.code">
      {{ country.code }} - {{ country.name }}
    </option>
  </select>
  </label>
  <br>
  <button type="submit">Сохранить</button>
</form>

