<!--
<table>
  <tr>
    <td *ngFor="let itemSetting of tableSetting | async">
      {{ itemSetting.title }}
      <br>
      <ng-container *ngIf="itemSetting.filter">
      <input [type]="itemSetting.filter" #filterInput (input)="change(itemSetting.name, filterInput.value)">
    </ng-container>
    </td>
  </tr>
  <ng-container *ngFor="let row of currentData; trackBy: trackByFn">
    <ng-container *ngTemplateOutlet="tableRowTemplate; context: {$implicit: row}"></ng-container>
  </ng-container>
</table>
-->

<ng-container>
  <td *cellDef="let item">{{ item }}</td>
</ng-container>

<ng-container *ngFor="let content of contentChildren">
  {{ content }}
</ng-container>
