<h2 class="first-player" *ngIf="!this.playersService.getPlayers().length">Add a new player to start the game</h2>
<input *ngIf="!avatar" type="file" (change)="onFileChanged($event)">
<img *ngIf="avatar"  [src]="avatar" width="150px" height="150px">
<div class="wrapper">
  <div class="form-group">
    <label><h2>Nickname</h2></label>
    <input class="form-control" name="name" [(ngModel)]="playerName" #name="ngModel" maxlength="20" required />
  </div>
  <div class="form-group">
    <label><h2>e-mail</h2></label>
    <input class="form-control" type="email" name="email" [(ngModel)]="eMail" #email="ngModel" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" />
  </div>
  <div class="form-group">
    <button [disabled]="name.invalid || email.invalid" class="btn btn-default" (click)="add()">Add</button>
    <!--
    <ng-container *ngIf="this.playersService.getPlayers().length; else addFirstUser">
      <button [disabled]="name.invalid || email.invalid" class="btn btn-default" (click)="add()">Add</button>
    </ng-container>
      <button (click)="saveUser()">Save first player</button>
      <button routerLink="/setting" routerLinkActive="active">Go to setting</button>
    <ng-template #addFirstUser ></ng-template>
    -->
  </div>
</div>
