<input type="text" [(ngModel)]="filtredValues[0].columnValue">
C <input type="date" [(ngModel)]="question.dateFrom">
По <input type="date" [(ngModel)]="question.dateTo">

<button (click)="search()">Search</button>
<br>
<hr>
<br>

<app-show-table
  [tableSetting]="tableSetting"
  [data]="documentsGrid"
  [sortinDirection]="sortingDirection"
  (sorting)="setSorting($event)"
  (filter)="filter($event)"
>

  <ng-template columnName="createDate" cellType="body" let-item>
   {{ item.createDate | date:'medium' }}
  </ng-template>

  <ng-template columnName="clientId" cellType="body" let-item>
    {{ item.clientId }}
  </ng-template>

</app-show-table>

<app-paging
  [page]="question.numberOfPage"
  [lastPage]="lastPage"
  (goPrev)="previousPage()"
  (goNext)="nextPage()"
  (goPage)="goToPage($event)">
</app-paging>
